/doku/*.aux
/doku/*.out
/doku/*.toc
/doku/*.bcf
/doku/Ausarbeitung.run.xml
/doku/Ausarbeitung.synctex.gz
/doku/Ausarbeitung.pdf
/doku/Ausarbeitung.log
/doku/Ausarbeitung.blg
/doku/Ausarbeitung.bbl
/doku/Inhalt/*.aux
